* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li a:link {
    color: black;
}

ul li a:visited {
    color: red;
}

ul li a:hover {
    color: greenyellow;
    transition: 1s;
}

ul li a:active {
    color: aqua;
}

input:focus {
    border: 3px solid red;
    box-shadow: 0 0 4px 1px black;
    transition: 1s;
}

input:disabled {
    cursor: not-allowed;
    background-color: red;
}

#checkbox-solutions:has(input[type="checkbox"]:checked) + #text-solutions input[type=text] {
    background-color: #ff0000;
}

form:nth-child(2) div:nth-child(2) {
    border-top: 3px solid red;
}

form:nth-child(2) div:last-child {
    border-bottom: 3px solid red;
}

form:last-child {
    background-color: aqua;
}
